<h1>Bonjour, merci de confirmant l'email !</h1>

<p>Cliquer sur le lien ci-dessous pour confirmer votre courriel :
     <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
