
        <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card text-center" style="width: 25rem;">
            <h1 class="h3 m-3 font-weight-normal color-g">Bonjour !</h1>
            <div class="card-body">
                <p>Pour réinitialiser votre mot de passe, merci de cliquer sur le lien suivant :</p>
                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

                <p>Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

                <p>A bientôt !</p>
            </div>
        </div>
    </div>