{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
        <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card text-center" style="width: 25rem;">
            <h1 class="h3 m-3 font-weight-normal color-g">Réinitialiser un nouveau mot de passe</h1>
            <div class="card-body">
                {{ form_start(requestForm) }}
               {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Entrer votre adresse email et nous vous envoyons un lien pour réinitialiser votre nouveau mot de passe.
                        </small>
                    </div>

                    <button class="btn mt-3 btn-gold">Envoyer le lien</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
