{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
        <div class="col-md mt-5 d-flex justify-content-center">                  
        <div class="card text-center" style="width: 25rem;">
            <h1 class="h3 m-3 font-weight-normal" style="color:goldenrod">Générer un nouveau mot de passe</h1>
            <div class="card-body">
       
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn" style="background-color: goldenrod;color:white">Valider</button>
            {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
