{% extends 'base.html.twig' %}

{% block title %}CHOIX DE PRODUITS{% endblock %}

{% block body %}
 
<div class="container mx-auto d-flex m-3 p-3">
    {% for categorie in categories %}
        <div class="card text-center category-pic m-3" style="width: 18rem;">
            <div class="card-body">
                <a href="{{ path('products_show', {'slug':categorie.slug}) }}" >
                <img class="img-fluid" src="{{asset('uploads/category/' ~ categorie.image) }}" alt="{{ categorie.name  }}">
                    <h5 class="card-title p-3">{{categorie.name}}</h5>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}