{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card" style="width: 60rem;">
            <h2 class="text-center m-3 font-weight-normal color-g"> Condition Générale de Vente – Condition Générale Utilisateur</h2>
            
            <div class="card-body text-left"> 
<h5>ARTICLE 1 – CHAMPS D’APPLICATION ET MODIFICATION DES CONDITIONS GENERALES DE VENTE</h5>
<p>Les présentes conditions générales de vente s’appliquent à toute commande passée sur le site www.lepetitvietnamien.com
SM Composite se réserve la possibilité d’adapter ou de modifier à tout moment les présentes conditions générales de vente.</p>
<p>En cas de modification, seront appliquées à chaque commande les conditions générales de vente en vigueur au jour de la commande.</p>

<h5>ARTICLE 2 – DISPONIBILITE DES PRODUITS</h5>
<p>A réception de votre commande, nous vérifions la disponibilité du(des) produit(s) commandé(s).</p>
<p>En cas d’indisponibilité, nous nous engageons dans les 30 jours à compter de la validation de la commande soit à vous livrer le produit commandé, soit à vous proposer un produit similaire à un prix similaire, soit à vous le rembourser par chèque, ou sous forme d’avoir.</p>

<p>Nous mettons en vente uniquement des articles disponibles en stock ou sur commande, disponibles chez nos fournisseurs.</p>

La date de validation de la commande correspond à :
-La date de la commande en cas de paiement par carte bancaire en ligne ou PAYPAL,
En cas de rupture de stock exceptionnelle sur l’un des produits de votre commande, nous pouvons expédier le reste de votre commande avec votre accord.

<h5>ARTICLE 3 – VALIDATION DES COMMANDES ET SIGNATURE ELECTRONIQUE</h5>
<h6>(Loi du 13 Mars 2000 sur la signature électronique)</h6>
<p>Tout bon de commande signé du consommateur par “double clic” constitue une acceptation irrévocable qui ne peut être remise en cause que dans les limites prévues dans les présentes conditions générales de vente.</p>
<p>Le “double clic” associé à la procédure d’authentification et de non répudiation et à la protection de l’intégrité des messages constitue une signature électronique.</p>
<p>Cette signature électronique a valeur entre les parties au même titre qu’une signature manuscrite.</p>

<h5>ARTICLE 4 – PRIX</h5>
<p>Le Petit Vietnamien se réserve le droit de modifier ses prix à tout moment, mais s’engage à appliquer les tarifs en vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.</p>

<h5>ARTICLE 5 – MODALITES DE PAIEMENT ET SECURISATION</h5>
<p>Dans tous les cas le règlement s’effectue en Euros. Pour une livraison hors CEE, la facturation s’effectue Hors Taxes. Le caddie calcule automatiquement si le pays de livraison est assujetti ou non à la TVA Française (19,6%). Il est également possible d’expédier en France TTC, et de fournir un bordereau de détaxe (remboursement ultérieur de la TVA) pour les personnes résidant hors France Métropolitaine.</p>

<p>Vous pouvez effectuer le règlement :</p>

<p>Par Carte Bancaire via Stripe :</p>
<p>– Le Paiement s’effectue sur un serveur bancaire sécurisé.</p>
<p>– Aucune information ne transite via le site de Le Petit Vietnamien</p>
<p>– Le paiement par carte bancaire est donc parfaitement sécurisé.</p>
<p>– Votre commande sera enregistrée et validée dès l’acceptation du paiement.</p>
<h6>Sécurisation :</h6>
<p>– Les coordonnées de votre carte de crédit sont cryptées grâce au protocole SSL (Secure Socket Layer) et ne transitent jamais en clair sur le réseau.</p>
<p>– Le Petit Vietnamien ne conserve en aucun cas ces coordonnées après la transaction.</p>
<p>– C’est pourquoi elles vous sont redemandées à chaque nouvelle transaction sur notre site.</p>
<h6>Clause de réserve de propriété :</h6>
<p>Les produits demeurent la propriété du restaurant Le Petit Vietnamien jusqu’au complet encaissement de la commande par Le Petit Vietnamien.</p>
<p>Toutefois à compter de la livraison, les risques des marchandises livrées sont transférés au client.</p>
<p>Les marchandises restent la propriété du vendeur jusqu’à paiement intégral (loi 80335 du 12.05.80)</p>

<h6>Défaut de paiement :</h6>
<p>Le Petit Vietnamien se réserve le droit de refuser d’effectuer une livraison ou d’honorer une commande émanant d’un consommateur qui n’aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d’administration.</p>
<p>Tout retard de paiement entraînera une pénalité d’un montant équivalent à 3 fois le taux d’intérêt légal, et donnera droit à une indemnité pour frais de recouvrement s’élevant à 40 €. Des dépenses excédentaires pourront être réclamées sur justification.</p>

<p>NB : Les taux de change étant liés à des variations journalières, les prix affichés devise différente de l’Euro sur www.lepetitvietnamien.com sont à titre indicatif.</p>

<h5>ARTICLE 6 – MODALITES ET DELAIS DE LIVRAISON</h5>
<p>Pour une livraison en France métropolitaine :</p>
<h6>Généralités :</h6>
<p>Pour des raisons de suivi des colis, il nous est impossible de livrer les commandes dans les bases ou autres locaux des Armées hors France Métropolitaine.</p>
<p>Les produits sont livrés à l’adresse de livraison indiquée lors du processus de commande.</p>
<p>Toutes les expéditions sont assurées à la valeur réelle de la marchandise.</p>

<p>Nous vous conseillons systématiquement de contrôler la marchandise au moment de la livraison.</p>
<p>Dans tous les cas, vous disposez d’un délai maximum de 24 heures pour nous signaler tout litige.</p>
<p>Attention, en cas de problème, conservez obligatoirement l’emballage d’origine.</p>

<p>Nous déclinons toute responsabilité dans le cas de retards dus aux grèves ou de catastrophes naturelles…</p>

<h6>Frais de port :</h6>
<p>Pour toute commande, il n'y a pas de frais de port dût à l'absence de livraison.</p>
<h6>Délais d’expédition:</h6>
<p>Tout article disponible en stock est généralement preparé en 1h dans notre restaurant.</p>

<h6>Délai de livraison :</h6>
<p>Le produit commandé ,n'est pas livrable car le client doit venir chercher directement le produit au restaurant. Selon la nature du produit commandé et à l’initiative exclusive du restaurant Le Petit Vietnamien, à l’adresse figurant sur le bon de commande.</p>

{# Délai de livraison = envoi normal, sous 15 jours ouvrés* **
Expédition = temps de préparation de la commande
**Transport = temps d’acheminement de la commande #}

<p>Les délais annoncés sont indiqués au départ de notre restaurant.</p>
{# Le choix du mode de livraison dépend du poids, du volume et de la valeur des articles. #}

<h6>Du colis à la livraison :</h6>
<p>Vous devez vérifier la conformité de la marchandise livrée au moment de la livraison et montrer le bon de commande.</p>
{# <p>Vous devez indiquer sur le bon de livraison et sous forme de réserves manuscrites accompagnées de votre signature, toute anomalie concernant la livraison (produit endommagé…).</p> #}
{# <p>Cette vérification est considérée comme effectuée dès lors que l’acheteur, ou une personne autorisée par elle, a signé le bon de livraison.</p>
<p>Vous devrez également signaler par courrier recommandé les anomalies et confirmer vos réserves au transporteur au plus tard dans les 3 jours ouvrables suivant la réception du ou des articles et transmettre une copie de ce courrier à l’adresse suivante :</p> #}

{# <p>LE PETIT VIETNAMIEN
50 Av. Anatole France,
93600 Aulnay-sous-Bois, France</p> #}

<p>Si les produits nécessitent un retours, ils doivent faire l’objet d’une demande de retour auprès de notre restaurant suivant l'heure de la livraison.</p>
<p>Toute réclamation formulée hors de ce délai ne pourra être acceptée.</p>
<p>Le retour du produit ne pourra être accepté que dans son état d’origine (emballage).</p>
<p>Si au moment de la livraison, l’emballage d’origine est abîmé, déchiré ou ouvert, vous devez impérativement vérifier qu’il contient l’intégralité de votre commande, et le cas échéant, noter une réserve sur le bordereau de commande en précisant la nature du dommage.</p>
{# <p>Nous vous conseillons de bien vérifier votre adresse de livraison lors du récapitulatif de la commande.</p>
<p>En cas d’erreur sur l’adresse d’expédition, les frais de port pour une nouvelle expédition seront à la charge du client.</p> #}

<h5>ARTICLE 7 – RESPONSABILITES</h5>
<p>Le Petit Vietnamien ne saurait être tenu pour responsable de l’inexécution du contrat conclu en raison de force majeure, de perturbations ou de grève totale ou partielle, notamment des services de communications, d’inondation, d’incendie.</p>

<p>En ce qui concerne les produits achetés pour satisfaire les besoins professionnels, Le Petit Vietnamien  n’encourra aucune responsabilité pour tous dommages indirects, du fait des présentes, perte d’exploitation, perte de profit, dommages ou frais, qui pourraient survenir.</p>
<p>Le choix et l’achat d’un produit ou d’un service sont placés sous l’unique responsabilité du client.</p>
<p>L’impossibilité totale ou partielle d’utiliser les produits, notamment pour cause d’incompatibilité du matériel ne peut donner lieu à aucun dédommagement, remboursement ou mise en cause de la responsabilité du restaurant Le Petit Vietnamien , sauf dans le cas d’un vice caché avéré, de non-conformité, de défectuosité ou d’exercice du droit de rétractation envisagés à l’art.8 de nos conditions de vente.</p>
<p>En cas de vice caché, vous avez le choix d’annuler la commande, ou de garder le produit contre une diminution de prix.</p>

<h5>ARTICLE 8 – DROIT DE RETRACTATION</h5>
<p>Vous avez le droit de vous rétracter du présent contrat sans donner de motif dans un délai de 2h. Le délai de rétractation expire dans les 2h lors de la commande.</p>
<p>Exercice du droit de rétractation :</p>
Pour exercer le droit de rétractation, vous devez nous notifier votre décision de rétractation du présent contrat au moyen d’une déclaration dénuée d’ambiguïté</p>

<p>Veuillez appeler directement par téléphone au 01 41 70 21 89 ou par courrier électronique lepetitvietnamien93@gmail.com dans l'heure qui suit la commande)</p>

<p>Vous pouvez utiliser le modèle de formulaire de rétractation mais ce n’est pas obligatoire.</p>
<p>Formulaire de rétractation (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)</p>

<p>– À l’attention de :</p>

<p>LE PETIT VIETNAMIEN
50 Av. Anatole France,
93600 Aulnay-sous-Bois, France</p>

<p>Je / Nous (*) vous notifie / notifions (*) par la présente ma / notre (*) rétractation du contrat portant sur la vente du bien (*) / <p>pour la prestation de service (*)</p>
<p>ci-dessous- Commandé le (*) / reçu le (*)</p>
<p>– Nom du (des) consommateur(s)</p>
<p>– Adresse du (des) consommateur(s)</p>
<p>– Signature du (des) consommateur(s) (uniquement en cas
de notification du présent formulaire sur papier)</p>
<p>– Date</p>
<p>(*) Biffez la mention inutile.</p>

<p>Pour que le délai de rétractation soit respecté, il suffit que vous transmettiez votre communication relative à l’exercice du droit de rétractation avant l’expiration du délai de rétractation.</p>
<p>Vous devrez prendre en charge les frais directs de renvoi du bien.</p>

<p>Conséquences du droit de rétractation</p>
<p>Vous devrez renvoyer ou rendre le bien, à :</p>

<p>LE PETIT VIETNAMIEN
50 Av. Anatole France,
93600 Aulnay-sous-Bois, France</p>

<p>sans retard excessif et, en tout état de cause, au plus tard dans les 2h de l'ouverture du restaurant après que vous nous aurez communiqué votre décision de rétractation du présent contrat.</p>
<p>Ce délai est réputé respecté si vous renvoyez le bien avant l’expiration du délai de 2h.</p>
<p>En cas de rétractation de votre part du présent contrat, nous vous rembourserons tous les paiements reçus.</p>
<p>Nous procéderons au remboursement en utilisant en espèce directement au restaurant.</p>
<p>Votre responsabilité n’est engagée qu’à l’égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce bien.</p>
<p>Exception au droit de rétractation</p>
<p>L’exercice du droit de rétractation est exclu pour les
contrats suivants :</p>
<p>– les contrats de fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;</p>
<p>–  les contrats de fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé ;</p>

<h5>ARTICLE 9 – GARANTIE ET SAV</h5>
<p>Pour pouvoir bénéficier de la garantie des produits, il convient impérativement de conserver la facture d’achat du produit.</p>
<p>Nous vous rappelons que vous bénéficiez également de la garantie légale des vices cachés en application des art. 1641 et suivant du code civil.</p>

<h5>ARTICLE 10 – DISPOSITIONS DE LA LOI « INFORMATIQUE ET LIBERTES »</h5>
<p>A tout moment, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi « Informatiques et Libertés » du 6 Janvier 1978).</p>

<h5>ARTICLE 11 – COORDONNEES DE LA SOCIETE</h5>
<p>LE PETIT VIETNAMIEN</p>
<p>50 Av. Anatole France,</p>
<p>93600 Aulnay-sous-Bois, France</p>

<p>n° TVA : FR78839773157</p>
<p>Capital social : 5 000,00 €</p>
<p>n° inscription registre du commerce : Bobigny B 839 773 157</p>

<p>Pour toute information concernant les conditions de vente lepetitvietnamien93@gmail.com ou au 01 41 70 21 89.</p>
</div></div></div>
{% endblock %}