{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card" style="width: 50rem;">
            <h1 class=" text-center m-3 font-weight-normal color-g"> Mentions légales</h1>
            <div class="card-body">       
        <h4 class="m-3">Le Site est la propriété exclusive du restaurant Le petit Vietnamien</h4>
        <h5>Nom social et forme juridique :</h5> <h6>E.LEF (LE PETIT VIETNAMIEN)</h6>
        <h5>Adresse postale du siège :</h5>
        <p>50 Avenue Anatole France, 93600 Aulnay-sous-Bois, France</p>

        <h5>Numéro et ville du RCS :</h5>
        <p>CCI Bobigny 93000</p>
        <p>191 avenue Paul-Vaillant-Couturier</p>
        <p>93000 Bobigny</p>

        <h5>Registre du commerce :</h5> <p>Bobigny B 839 773 157</p>
        <h5>Numéro de TVA intracommunautaire : </h5><p>FR78839773157</p>

        <p>Numéro de téléphone : 01 41 70 21 89</p>
        <p>Adresse courriel : lepetitvietnamien93@gmail.com</p>

        <h5>Direction :</h5><p> Madame Elisia Lefur</p>
        <h5>Directeur de la publication :</h5> <p>Madame Elisia Lefur</p>

        <h5>Conception, réalisation graphique et développements techniques:</h5><p> Julie Ly-Minh</p>

        <h5>Capital Social :</h5> <p>5 000,00 €</p>

        <p>En vertu de l’article 14, al. 1 du règlement européen n° 524/2013 du 21 mai 2013 relatif au RELC, la Commission Européenne met à la disposition des consommateurs une plateforme en ligne de règlement des litiges disponible à cette adresse: http://ec.europa.eu/consumers/odr/</p>

        <h5>Hébergement :</h5>
        <p>O2Switch 222 Bd Gustave Flaubert, 63000 Clermont-Ferrand</p>

        <h5>Propriété intellectuelle</h5>
        <p>Le Site est la propriété exclusive de la société "Le petit Vietnamien", seule habilitée à utiliser et exploiter les droits de propriété intellectuelle et droits de la personnalité attachés à ce Site, notamment la structure générale, ainsi que les logiciels, textes, images animées ou fixes, savoir-faire, dessins, graphismes et tous autres éléments composant le Site, droits d’auteur et droit à l’image, à titre originaire. L’usage de tout ou partie du site, notamment par téléchargement, reproduction, transmission ou représentation à d’autres fins que pour usage personnel et privé dans un but non commercial est strictement interdit.</p>

        <h5>Protection et gestion  des données personnelles</h5>
        <p>La société "Le petit Vietnamien" s’engage à préserver la confidentialité des informations fournies en ligne par l’internaute.</p>

        <p>Toute information personnelle que vous serez amené à transmettre à la société "Le petit Vietnamien" pour l’utilisation de certains services est soumise aux dispositions de la loi n°78-17 Informatique et Libertés du 06 janvier 1978 renforcé par le Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).</p>

        <p>-> Droit d’accès, de rectification, de suppression et d’opposition au traitement</p>
        <p>A ce titre, vous disposez d’un droit d’accès, de rectification de suppression des informations personnelles vous concernant, ainsi que la possibilité de vous opposer au traitement de ces données, que vous pouvez exercer à tout moment en adressant un email à l’adresse suivante :</p>
        <p>LE PETIT VIETNAMIEN</p>
        <p>50 Av. Anatole France</p>
        <p>93600 Aulnay-sous-Bois, France</p>

        <p>ou par mail lepetitvietnamien93@gmail.com</p>

        

        <p>La demande d’obtention des données personnelles recueillies par la société "Le petit Vietnamien" est soumise à une validation d’identité.</p>

        <h5>-> Gestion des données personnelles</h5>
        <p>Au travers de son Site, "Le petit Vietnamien" est susceptible de recueillir et de conserver vos données à caractère personnel, notamment lorsque :</p>
        <p>·    Vous nous contactez via le formulaire de contact</p>
        <p>·    Vous nous demandez de vous rappeler</p>

        <p>Nous utilisons les données vous concernant pour nous permettre de répondre à vos demandes spécifiques, de vous communiquer des informations relatives à nos services, constituer des propositions commerciales chiffrées sur le fondement juridique de l’exécution d’un contrat.</p>

        <p>Nous utilisons également les données à caractère personnel dans le but d’exploiter et d’améliorer nos services, notre Site et notre démarche.</p>

        <p>Le petit Vietnamien est seul destinataire de vos données à caractère personnel. Ces données ne seront jamais utilisées à des fins autres, non prévues, ni transmises à des partenaires, sauf accord préalable de la part du propriétaire des données.</p>

        <h5>-> Conservation des données personnelles</h5>
        <p>Les données à caractère personnel sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles ont été collectées.</p>
        <p>Les données issues des demandes de contacts sont conservées pour une durée maximale de 3 ans.</p>
        <p>Les données issues de demandes commerciales sont conservées pendant tout le temps de la relation commerciale et conservées dans le cadre de notre suivi clients et prospects pour une durée maximale de 3 ans à compter du dernier contact émanant du prospect.</p>

        <h5>Cookie</h5>
        <p>Lors de chacune de vos visites sur notre Site, nous recueillons des informations relatives à votre connexion et à votre navigation. Ces données sont recueillies par l’intermédiaire de cookies. Nous vous précisons que des « cookies » peuvent s’installer automatiquement sur votre logiciel de navigation lors de la consultation du Site.</p>

        <p>Un cookie ne vous identifie pas personnellement. Il permet à la société Le petit Vietnamien de collecter un certain nombre d’informations relatives à la navigation sur le Site, à des fins exclusives d’analyse de fréquentation et de statistique, telles que : provenance des connexions (Identifiant de l’équipement utilisé, fournisseurs d’accès, moteur de recherche), mots clés utilisés, pages vues et temps moyen passé par page, etc.</p>

        <p>Un cookie a une durée de validité limitée. Son dépôt et son stockage sur votre terminal se font dans le respect de la législation applicable et sous réserve des choix que vous avez exprimés et que vous pouvez modifier à tout moment.
        Vous disposez de la faculté de vous y opposer, par le paramétrage de votre logiciel de navigation, à l’installation desdits « cookies ».</p>

        <h5>Liens hypertextes vers d’autres sites</h5>
        <p>La création de liens hypertextes vers le Site ne peut être faite qu’avec l’autorisation écrite et préalable du restaurant Le petit Vietnamien qui pourra être révoquée à tout moment.</p>

        <p>Le petit Vietnamien décline toute responsabilité concernant le contenu des sites liés au Site.</p>

        <p>Responsabilité de la société Le petit Vietnamien</p>
        <p>Dans les conditions autorisées par la loi, Le petit Vietnamien n’encourt aucune responsabilité : pour toute imprécision, inexactitude, omission ou pour tous dommages résultant d’une intrusion d’un tiers ayant entraîné une modification des informations mises à disposition sur le site, en cas de dommages provoqués à raison de l’accès d’un tiers non autorisé sur le site ou rendant impossible son accès.</p>

        <p>Le visiteur est informé que l’accès au site pourra être interrompu à tout moment par Le petit Vietnamien pour des raisons de maintenance, de sécurité ou toute autre contrainte technique.</p>

        <h5>Droit applicable</h5>
        <p> Les présentes conditions sont régies par le droit français. Les juridictions françaises sont seules compétentes pour connaitre tout litige se rapportant directement ou indirectement à l’accès au présent Site ou à son utilisation.</p>
    </div></div></div>
    {% endblock %}