{% extends 'base.html.twig' %}

{% block title %}Plan du site{% endblock %}

{% block body %}
    <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card" style="width: 30rem;">
            <h1 class=" m-3 font-weight-normal color-g text-center">Plan du site</h1>
            <div class="card-body text-left">
                <ul>
                    <li>Accueil</li>
                    <li> Actualites</li>
                    <li> CVG - CGU et Droit de rétractation</li>
                    {# <li> Espace Pro</li> #}
                    <li> Mentions légales</li>
                    <li> Mon compte</li>
                    <li> Nous contacter</li>
                    <li> Paiement</li>
                    <li> Panier</li>
                    <li> Plan du site</li>
                    {# <li> Services</li> #}
                    <li> Tous les Produits</li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}