{% extends "base.html.twig" %}

{% block title %}modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card text-center" style="width: 30rem;">
        <h1>modifier l'utilisateur</h1>
            <div><a href="{{ path('admin_index') }}"> <i class='bx bxs-arrow-to-left'></i> Retour</a></div>

            <div class="card-body">
            
                {{ form(userForm) }}
            </div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Modifier votre profil</button></div>
        </div>  
    </div>

{% endblock %}