{% extends "base.html.twig" %}

{% block title %}modifier le produit{% endblock %}

{% block body %}
    <div class="col-md m-5 d-flex justify-content-center">                  
        <div class="card text-center" style="width: 30rem;">
        <h1>modifier le produit</h1>
            <div class="card-body">
                {{ form(userForm) }}
            </div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Modifier le produit</button></div>
        </div>  
    </div>

{% endblock %}